/// <reference path="../_core.scss" />

.navbar-theme {
    background-color: rgba($theme-700, .95);
    color: color-yiq($theme-700);
    //box-shadow: $md-shadow-2dp;
    backface-visibility: hidden;

    .btn-icon {
        color: color-yiq($theme-700);
    }

    .navbar-secondary {

        .fab {
            position: absolute;
            right: 1rem;
            top: 1.25rem;

            .btn-round {
                box-shadow: $md-shadow-2dp !important;
            }
        }
    }
}


.navbar-primary {
    z-index: 3;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-height: $navbar-height;
}

.navbar-secondary {
    z-index: 2;
    flex-wrap: nowrap;
    min-height: $navbar-height;
    // fix for .dropdown-menu-right in navbar, see https://github.com/twbs/bootstrap/issues/23308
    .dropdown-menu-right {
        left: auto;
        right: 0;
    }
}


.navbar-content {
    flex-wrap: nowrap;
    align-items: flex-start;
}

.navbar-icons {
    display: flex;
    flex: 1 0 2rem;

    .btn-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    // fix for .dropdown-menu-right in navbar, see https://github.com/twbs/bootstrap/issues/23308
    .dropdown-menu-right {
        left: auto;
        right: 0;
    }

    &:not(:first-child):last-child {
        justify-content: flex-end;
    }
}

.navbar-middle {
    display: flex;
    flex: 0 1 auto;
    align-items:center;
    justify-content:center;
    margin: 0 .5rem;
    min-width: 0;

    .navbar-text {
        padding: 0;
        display: inline-block;
        @include text-truncate();
    }

    .dropdown {
        position: static;
        line-height: 1;
        display: flex;
        min-width: 0;

        .dropdown-toggle {
            background: transparent;
            border: 0;
            color: color-yiq($theme-700);
            padding: 0;
            flex: 0 1 auto;
            min-width: 0;

            &:active, &:focus {
                box-shadow: none;
                outline: none;
            }

            .badge {
                top: .25rem;
                margin-left: .25rem;
            }

            .i {
                margin: 0 !important;
            }
        }

        .dropdown-menu {
            top: $navbar-height;
            left: calc(50vw - #{$dropdown-min-width * .75});
            width: $dropdown-min-width * 1.5;
        }
    }

}
