/// <reference path="../_core.scss" />

// Transparent scrollbar
@at-root {
    html {

        &.edge, &.ie, &.firefox.windows, &.firefox.scrollbar, &.safari.scrollbar {
            // Move the scrollbar beneath the fixed header
            overflow-y: hidden;
            height: 100vh;

            body {
                height: 100%;
                overflow-y: auto;
                overflow-x: inherit;

                &.has-navbar {
                    padding-top: 0;
                    max-height: calc(100vh - 3rem);
                    margin-top: 3rem;
                }

                &.has-navbar-secondary {
                    max-height: calc(100vh - 6rem);
                    margin-top: 6rem;
                }
            }

            .preview-container {
                .preview-document {
                    top: 3rem;
                    padding: 0;
                }
            }
        }

        &.edge, &.ie {
            // Hide document scrollbar when overlays are open
            &[class*="-open"] {
                -ms-overflow-style: none;
                overflow: hidden;

                body {
                    -ms-overflow-style: none;

                    > * {
                        -ms-overflow-style: scrollbar;
                    }
                }
            }
        }

        &.firefox.scrollbar {
            // Hide document scrollbar when overlays are open
            // Essentially not needed as we move scroll to the body
            &[class*="-open"] {
                overflow: -moz-scrollbars-none;
            }
        }

        &.safari.scrollbar {
            width: 100vw;
            height: 100vh;
            // Hide body scrollbar when overlays are open
            &[class*="-open"] {
                &::-webkit-scrollbar, & body::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }
            }
        }


        .scroll-check {
            position: fixed;
            top: 0;
            left: 0;
            width: 8rem;
            height: 8rem;
            overflow: scroll;
            z-index: -99999;
            pointer-events: none;
            visibility: hidden;
        }

        &.chrome.scrollbar, &.chrome.windows {
            // Unfortunately Safari doesn't support transparent scrollbars
            @include scrollbar;
            // Opt out to disable transparent scrollbar
            &:not(.no-scrollbar) {
                @include scrollbar-overlay;

                body {
                    @include scrollbar-overlay-content;

                    .drawer-right {
                        left: 100vw;
                    }

                    &.body-dark {
                        backface-visibility: hidden;
                    }

                    > .fixed-top {
                        @include scrollbar-overlay-content;
                        backface-visibility: hidden;
                    }

                    [class*="-backdrop"] {
                        @include scrollbar-overlay-content;
                    }

                    .modal, .pswp, .preview-container, .navbar-preview {
                        @include scrollbar-overlay-content;
                    }

                    .preview-container {
                        @include scrollbar-overlay-content;

                        > #pdfToolbar {
                            min-width: calc(100vw - 4rem); // Has 2rem margin
                        }

                        .preview-document {
                            width: calc(100vw - #{$scrollbar-size});
                            margin-left: $scrollbar-size;
                        }
                    }
                    // For some GPU rasterization issue in Chrome,
                    // the page gets offset on the open/connect-page,
                    // so we skip it there
                    &.controller-widget.action-index {
                        min-width: unset;
                    }
                }
                // Hide body scrollbar when overlays are open
                &[class*="-open"] {
                    &::-webkit-scrollbar, & body::-webkit-scrollbar {
                        width: 0;
                        height: 0;
                    }
                }
            }
        }
    }
}
