/// <reference path="../_core.scss" />

[data-toggle=star] {

    &.active {

        .d-block {
            display: none !important;
        }

        .d-none {
            color: $yellow;
            display: block !important;
        }
    }
}
