/// <reference path="../_core.scss" />

.table {
    &:not(.table-bordered) {
        th, td {
            &:not(:first-child) {
                padding-left: 0;
            }
        }

        thead th {
            border-top-color: transparent;
            border-bottom-width: $table-border-width;
            border-bottom-color: $gray-300;
        }
    }

    thead th {
        font-size: $font-size-xs;
        text-transform: uppercase;
    }

    th.table-icon, td.table-icon {
        // cell with .img-32 or .btn-icon
        line-height: 0;
        padding: .25rem 0;
        width: 3rem; // 48px;
        height: 3rem;
        min-width: 3rem;
        min-height: 3rem;
        color: $icon-color;
        text-align: center;
        vertical-align: middle;
        position: relative;

        > button {
            position: relative;
        }

        > * {
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.text-right {
            > * {
                left: auto;
                justify-content: flex-end;
                margin-right: 0;
            }
        }

        &.text-left {
            > * {
                right: auto;
                justify-content: flex-start;
                margin-left: 0;
            }
        }
    }

    .th, .td {
        &.text-truncate {
            max-width: 1px;
        }
    }
}

.table-sm {
    th.table-icon, td.table-icon {
        // cell with .img-32 or .btn-icon
        padding: 0;
        width: 2.125rem; //34px;
        min-width: 2.125rem;

        > .i {
            margin: .3125rem;
        }
    }
}

.table-fixed {
    table-layout: fixed;
}

.table-archived, .table-disabled, .table-suspended {
    > th, > td:not(.table-icon) {
        color: $text-muted;

        a:not(.badge) {
            color: $text-muted;
        }

        img, .i {
            opacity: $opacity-muted;
        }
    }
}

.table-trashed {
    @extend .table-suspended;

    &, > th, > td {
        text-decoration: line-through;

        a {
            text-decoration: line-through;
        }
    }
}

.table {
    .thead-light {
        th {
            border-color: $gray-300;
        }
    }

    .thead-panel {
        th {
            color: $panel-color;
            background-color: $panel-bg;
            border-color: $gray-300;
        }
    }
}


tr[data-href] {
    cursor: pointer;
}

.table-hover tbody tr:hover {
    transition: background-color linear 400ms;
}
