@model Item
@if (Model.Attachments.Any()) {
    <section class="item-attachments my-3">
        <h4 class="display-4"><span>Attachments</span></h4>

        @foreach (var content in Model.Attachments) {
            if (content is Weavy.Core.Models.File file) {
                @Html.Partial("_FileList", file)
            }
        }
    </section>
}
