@model Space

@if (Model.IsTrashed() && Model.HasPermission(Permission.Delete)) {
    <form action="@(Url.Action<SpaceController>(c => c.Restore(Model.Id)))" method="post" data-turboform>
        <button type="submit" class="btn btn-icon" title="Restore space">@Html.SvgIcon("backup-restore", "success")</button>
    </form>
}

@if (!Model.IsTrashed() && (Model.HasPermission(Permission.Edit) || Model.HasPermission(Permission.Delete) || (User.IsAdmin && !Model.HasPermission(Permission.Admin)) || Model.HasPermission(Permission.Join))) {
    <div class="dropdown">
        <button type="button" class="btn btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Toggle Dropdown">
            @Html.SvgIcon("dots-vertical")
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            @Html.Partial("_SpaceMenuItems")
        </div>
    </div>
}
