@model PollOption

<table class="table table-votes">
@foreach (User user in Model.Voters) {
    <tr data-href="@user.Url()">
        <td class="table-icon">@user.AvatarImg(size:32)</td>
        <td><a href="@user.Url()">@user.Title</a> <small>@@@user.Username</small></td>
    </tr>
}
</table>


