@model App
@{
    Title = "Edit tab";
    Back = ViewData.ModelState.IsValid ? Url.Back(Model.Url()) : WeavyContext.Space.Url();
    ViewData["turboform"] = true;
}
<div class="container mt-3">
    @{ Html.RenderPartial("_Edit", Model); }    
</div>

@if (Model.HasHtmlProperty()) {
    @section scripts{
        @Html.InitHtmlEditor()
    }
}
