@model App
@{
    Title = "New " + Model.MetaData().Name;
    Back = Folder.Url();
}

<div class="container my-3">
    @using (Html.BeginForm(nameof(AppController.Insert), typeof(AppController).ControllerName(), FormMethod.Post, htmlAttributes: new { id="form-new", data_turboform = "", novalidate="" })) {
        @Html.HiddenFor(x => x.AppGuid)
        @Html.EditorFor(x => x.Name)

        @*@Html.EditorsForModel()*@

        <div class="buttons">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="@Back" class="btn btn-outline-secondary">Cancel</a>
        </div>
    }
</div>
