@model App
@{

    Title = "New " + Model.MetaData().Name;
}


@section navbar_secondary {
    <nav class="nav nav-tabs">
        <a class="nav-link active" href="#">Properties</a>
    </nav>
}

<div class="container-fluid mt-3">
    @using (Html.BeginForm(nameof(AppController.Insert), typeof(AppController).ControllerName(), FormMethod.Post, htmlAttributes: new { id="form-new", data_turboform = "", novalidate="" })) {
        @Html.HiddenFor(x => x.AppGuid)
        @Html.EditorFor(x => x.Name)

        @*@Html.EditorsForModel()*@

        <div class="buttons">
            <button type="submit" class="btn btn-outline-primary">Save</button>
            <a href="@Folder.Url()" class="btn btn-link">Cancel</a>
        </div>
    }
</div>
