.flex-noscale {
    flex-grow: 0;
    flex-shrink: 0;
}

.flex-scale {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
}

.flex-order-first {
    order: -1;
}

.flex-order-last {
    order: 99999;
}
