/// <reference path="../_core.scss" />
$scrollbar-size: .5rem !default;

@mixin scrollbar {
    // custom scrollbar for chrome
    &::-webkit-scrollbar {
        height: $scrollbar-size;
        width: $scrollbar-size;
        background: $gray-100;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gray-300;

        &:hover {
            background-color: $gray-400;
        }

        :window-inactive {
            background-color: $gray-200;
        }
    }
}

@mixin scroll {
    // to enable HW acceleration and not cause repaint on scroll
    backface-visibility: hidden;
    overflow-x: auto;
    overflow-y: auto;

    @include scrollbar;
    @include overscroll-behavior-contain;
    // ios momentum scrolling, cannot be used on the <body> element!
    &:not(body) {
        -webkit-overflow-scrolling: touch;
    }
}

@mixin scroll-x {
    @include scroll;
    overflow-y: hidden;
}

@mixin scroll-y {
    @include scroll;
    overflow-x: hidden;
}

@mixin overscroll-behavior-contain {
    // ms-scroll-chaining only applies to touch and touchpad input
    -ms-scroll-chaining: none;

    // overscroll-behavior unfortunately does not support blocking iframe scrollchaning, so we have scroll.js to take care of that
    overscroll-behavior: contain;
}

.scroll {
    @include scroll;
}

.scroll-x {
    @include scroll-x;
}

.scroll-y {
    @include scroll-y;
}

.overscroll-behavior-contain {
    @include overscroll-behavior-contain;
}
