// Custom variables and colors
@import 'theme';

// Bootstrap functions, variables and mixins
@import "vendor/bootstrap/functions";
@import "functions"; // override some of the default bootstrap functions
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins";

// Additional mixins
@import 'mixins/animation';
@import 'mixins/dot';

// Set --weavy-rem: 16px; in :root or on the shadow-root-element to change widget rem

$widget-default-rem: 16px;

@function rem($value) {
    // Edge does unfortunately not fully support calc() in box-shadow and transform, otherwise --variables work
    @return calc(var(--weavy-rem, #{$widget-default-rem}) * #{$value}); // Defaults to 16px
    //@return $widget-default-rem * $value;
}

// Widget variables
$widget-strip-width: rem(24); // 384px, previously 375px;
$widget-zindex: 2147483647; // max possible z-index
$widget-border-radius: rem(.25);

// Widget styles (wrap all styles in .weavy-widget)
.weavy-widget {
    // These variables also change when you set --weavy-rem
    // They are needed because Edge does not fully support calc() in box-shadow and transform (but support calc() in CSS variables)
    --weavy-1rem: rem(1);
    --weavy--1rem: rem(-1);
    --weavy-1-25rem: rem(1.25);
    --weavy--1-25rem: rem(-1.25);
    --md-shadow-4dp: 0 rem(.25) rem(.3125) 0 rgba($md-black, $md-shadow-penumbra-opacity), 0 rem(.0625) rem(.625) 0 rgba($md-black, $md-shadow-ambient-opacity), 0 rem(.125) rem(.25) rem(-.0625) rgba($md-black, $md-shadow-umbra-opacity); //$md-shadow-4dp;
    --md-shadow-8dp: 0 rem(.5) rem(.625) rem(.0625) rgba($md-black, $md-shadow-penumbra-opacity), 0 rem(.1875) rem(1.25) rem(.125) rgba($md-black, $md-shadow-ambient-opacity), 0 rem(.3125) rem(.3125) rem(-.1875) rgba($md-black, $md-shadow-umbra-opacity); //$md-shadow-8dp;
    // Edge cases ;-)
    @supports (-ms-ime-align: auto) {
        --weavy-1rem: $widget-default-rem; //rem(1);
        --weavy--1rem: -$widget-default-rem; //rem(-1);
        --weavy-1-25rem: 1.25 * $widget-default-rem; //rem(1.25);
        --weavy--1-25rem: -1.25 * $widget-default-rem; //rem(-1.25);
        --md-shadow-4dp: $md-shadow-4dp;
        --md-shadow-8dp: $md-shadow-8dp;
    }

    .weavy-alert-message {
        padding: rem(.25) rem(.5);
        background-color: #d4edda;
        text-align: center;
        width: $widget-strip-width;
        color: #155724;
        border-radius: rem(.1875);
        margin: 0 auto;
        margin-top: rem(1);
        font-family: $font-family-base;
    }

    &.weavy-default {
        z-index: $widget-zindex;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        pointer-events: none;
        transition: transform $md-animation-duration $md-animation-curve-default;
        font-size: rem(1);
        line-height: rem(1.5);

        .weavy-avatar {
            width: rem(3);
            height: rem(3);
            border-radius: 50%;
            user-select: none;
        }

        .weavy-bubble-item {
            position: relative;
            display: inline-flex;
            align-items: center;
            flex-direction: row;
            min-height: rem(3);
            pointer-events: auto;

            &:hover, &:active {
                .weavy-bubble-tooltip {
                    display: flex;
                }
            }
        }

        .weavy-bubble-action {
            position: absolute;
            right: 0;
            display: flex;
            padding: rem(.375);
            cursor: pointer;
            pointer-events: none;
            transition: transform $md-animation-duration $md-animation-curve-default;
            transform: translateY(0);

            svg {
                fill: $text-muted;
                height: rem(1.25);
                width: rem(1.25);
            }

            &:hover, &:active {
                svg {
                    fill: $link-color;
                }
            }
        }

        .weavy-bubble-tooltip {
            font-family: $font-family-base;
            white-space: nowrap;
            position: absolute;
            right: rem(3.75);
            height: rem(1.75);
            z-index: 1234567890;
            background: $gray-100;
            padding: 0 rem(.5);
            border-radius: $border-radius;
            pointer-events: all;
            transition: opacity linear 0.1s;
            box-shadow: var(--md-shadow-4dp);
            display: none;
            color: $body-color;

            .weavy-bubble-tooltip-text {
                font-family: $font-family-base;
                color: $gray-700;
                font-size: rem(1);
                margin: 0;
                padding: rem(.125) 0;
            }

            a {
                padding: rem(.1875);
                pointer-events: all;
                display: flex;
                align-items: center;
                cursor: pointer;

                svg {
                    fill: $icon-color;
                    height: rem(1.25);
                    width: rem(1.25);
                }

                &:hover, &:active {
                    svg {
                        fill: $link-color;
                    }
                }
            }
        }

        .weavy-button {
            position: relative;
            display: inline-flex;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 0 0 rem(.125) rgba($link-color, 0);
            border-radius: rem(1.5);
            background-color: $white;
            cursor: pointer;
            width: rem(3);
            min-height: rem(3);
            margin: rem(0.5);
            pointer-events: all;
            justify-content: center;
            transition: transform $md-animation-duration $md-animation-curve-default;
            z-index: 2;

            &.weavy-add {
                background-color: transparent;
                box-shadow: none;
            }

            &.weavy-personal {
                background-color: transparent;
                box-shadow: none;

                svg {
                    width: rem(2);
                    height: rem(2);
                    fill: $theme;
                }

                img {
                    width: rem(1.5);
                    height: rem(1.5);
                    border-radius: 0;
                }
            }

            &:hover, &:active {
                box-shadow: 0 0 0 rem(.125) rgba($link-color, 0.2);
                color: $link-color;

                svg {
                    fill: $link-color;
                }
            }

            &.weavy-open {
                background-color: $white;
                transform: translateX(var(--weavy--1-25rem)); // -1.25rem
                box-shadow: var(--md-shadow-4dp);
                align-self: flex-end;

                ~ .weavy-bubble-tooltip {
                    display: none;
                }

                ~ .weavy-bubble-action {
                    pointer-events: auto;
                }

                ~ .weavy-bubble-connect {
                    &:not(:last-of-type) {
                        transform: translateY(var(--weavy-1rem));
                        padding-top: rem(.1);
                    }

                    & + .weavy-bubble-action {
                        transform: translateY(var(--weavy--1rem));
                        padding-bottom: rem(.1);
                    }
                }

                &, &:not(.weavy-personal) img {
                    border-radius: 0 rem(1.5) rem(1.5) 0;
                }
            }

            &:active {
                ~ .weavy-bubble-tooltip {
                    display: none;
                }
            }
        }

        .weavy-personal-container {
            hr {
                border: 0;
                height: rem(.0625);
                background: $gray-400;
                margin: rem(.5) rem(.25);
                background-image: linear-gradient(to right, $gray-300, $gray-400, $gray-300);
            }
        }

        .weavy-buttons {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: rem(5);
            pointer-events: none;
            display: flex;
            flex-direction: column;
        }

        .weavy-conversations {
            margin: rem(-.5) 0 rem(.5) 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:empty {
                display: none;
            }

            .weavy-avatar {
                display: block;
                width: rem(1.5);
                height: rem(1.5);
                margin: rem(.25);
            }
        }

        .weavy-dot {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: rem(.5);
                right: rem(.5);
                width: rem(.5);
                height: rem(.5);
                background-color: $deep-orange;
                border-radius: 50%;
            }

            &.weavy-pulse::after {
                animation: weavy-pulse ($md-animation-duration * 2) $md-animation-curve-default;
            }
        }

        .weavy-dragimage {
            pointer-events: none;
            position: absolute;
            opacity: 0;
            width: rem(2);
            height: rem(2);
        }

        .weavy-draggable {
            pointer-events: none;
            position: absolute;
            top: rem(2.5);
            user-select: none;
            background: hsla(0, 0%, 92%, 0.9);
            border-radius: rem(2);
            box-shadow: var(--md-shadow-4dp);
            margin: calc(var(--weavy-rem, 16px) * 0.5);
            //transition: transform 0.05s ease-out;
        }

        .weavy-icon {
            color: $icon-color;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: rem(.25);

            svg {
                fill: currentColor;
                width: rem(1.5);
                height: rem(1.5);
            }
        }

        .weavy-messenger {
            .weavy-icon {
                margin: rem(.5);

                &:first-child {
                    color: $theme;
                }

                &:last-child {
                    margin: rem(-.25) 0 rem(-.5) 0;
                }
            }
        }

        .weavy-notifications {
            z-index: $widget-zindex;
            opacity: 1;
            position: absolute;
            bottom: rem(1);
            right: rem(4);
        }

        .weavy-notification-frame {
            pointer-events: all;
            width: rem(20); //320px;
            height: 0;
            border: 0;
            box-shadow: var(--md-shadow-4dp);
        }

        .weavy-strips {
            position: absolute;
            top: 0;
            right: rem(5.25);
            bottom: 0;
            width: 0;
            pointer-events: none;
            z-index: 10;
        }

        .weavy-strip {
            position: absolute;
            top: rem(1);
            right: 0;
            bottom: rem(1);
            left: 0;
            opacity: 0;
            z-index: $widget-zindex;
            box-shadow: var(--md-shadow-8dp);
            pointer-events: none;
            transform: translateX(var(--weavy-1rem)); // 1rem
            border-radius: $widget-border-radius;
            overflow: hidden;

            .weavy-controls {
                position: absolute;
                top: rem(.5);
                right: rem(2.5);
                width: rem(2);
                display: none;
                z-index: 10000;

                .weavy-collapse {
                    display: none;
                }

                .weavy-icon {
                    color: $white;
                }
            }

            &.weavy-open {
                pointer-events: all;
                opacity: 1;
                transform: translateX(0);
                transition: opacity $md-animation-duration $md-animation-curve-default, transform $md-animation-duration $md-animation-curve-default;

                &.weavy-loading::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    // spinner.svg encoded with https://codepen.io/jakob-e/pen/doMoML
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' width='24' height='24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cstyle type='text/css'%3Esvg%7Banimation:rotate 2s linear infinite;transform-origin:center center%7Dcircle%7Bstroke-dasharray:1,100;stroke-dashoffset:0;animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite%7D@keyframes rotate%7B100%25%7Btransform:rotate(360deg)%7D%7D@keyframes dash%7B0%25%7Bstroke-dasharray:1,100;stroke-dashoffset:0%7D50%25%7Bstroke-dasharray:44.5,100;stroke-dashoffset:-17.5px%7D100%25%7Bstroke-dasharray:44.5,100;stroke-dashoffset:-62px%7D%7D@keyframes color%7B0%25,100%25%7Bstroke:%234A69CF%7D40%25%7Bstroke:%23C96C4F%7D66%25%7Bstroke:%23D2D246%7D80%25,90%25%7Bstroke:%235DBB78%7D%7D%3C/style%3E%3Ccircle fill='none' cx='12' cy='12' r='10' stroke-linecap='round' stroke-miterlimit='5' stroke-width='2' /%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-size: rem(3);
                }

                .weavy-controls {
                    display: flex;
                }
            }
        }

        .weavy-strip-frame {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border: 0;
            background: $white;
        }

        &.weavy-open {
            transform: translateX(0);

            .weavy-strips {
                width: $widget-strip-width;
            }
        }

        &.weavy-bottom {
            .weavy-draggable {
                top: auto;
                bottom: 0;
            }
        }

        &.weavy-wide {

            &.weavy-open {
                background-color: $backdrop-bg;
            }


            .weavy-strips {
                width: auto;
                left: rem(2.5);
            }

            .weavy-controls {

                .weavy-collapse {
                    display: inline-flex;
                }

                .weavy-expand {
                    display: none;
                }
            }
        }

        &.weavy-preview, &.weavy-left.weavy-preview {
            .weavy-strips {
                width: auto;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;

                .weavy-controls {
                    display: none;
                }

                .weavy-strip {
                    border-radius: initial;
                    top: 0;
                    bottom: 0;
                }
            }
        }

        &.weavy-left {

            .weavy-buttons {
                right: auto;
                left: 0;
            }

            .weavy-strips {
                right: auto;
                left: rem(5.25);
            }

            .weavy-controls {
                left: auto;
                right: rem(-.5);
            }

            .weavy-bubble-action {
                left: 0;
                right: auto;
            }

            .weavy-bubble-tooltip {
                right: auto;
                left: rem(3.75);
            }

            .weavy-button {
                &.weavy-open {
                    transform: translateX(var(--weavy-1-25rem)); // 1.25rem
                    &, &:not(.weavy-personal) img {
                        border-radius: rem(1.5) 0 0 rem(1.5);
                    }
                }
            }

            .weavy-notifications {
                right: rem(1);
            }

            .weavy-strip {
                transform: translateX(var(--weavy--1rem)); // -1rem
                &.weavy-open {
                    transform: translateX(0);
                }

                .weavy-controls {
                    left: auto;
                    right: rem(2.5);
                }
            }

            &.weavy-wide {

                .weavy-strips {
                    right: rem(5);
                }
            }
        }

        &.weavy-middle:not(.weavy-drag) {
            .weavy-draggable {
                position: static;
                margin-top: auto;
                margin-bottom: auto;
            }
        }

        &.weavy-drag {
            pointer-events: all;
            cursor: move;

            &.weavy-open {
                &.weavy-wide {
                    background-color: transparent;
                }

                .weavy-strip {
                    &.weavy-open {
                        pointer-events: none;
                        opacity: 0;
                    }
                }
            }

            &, &.weavy-left {
                .weavy-button {
                    pointer-events: none;
                    box-shadow: none;
                    cursor: move;
                    transform: none;

                    &, &:not(.weavy-personal) img {
                        border-radius: rem(1.5);
                    }
                }
            }

            .weavy-bubble-tooltip {
                display: none !important;
            }

            .weavy-draggable {
                pointer-events: none !important;
                box-shadow: var(--md-shadow-8dp);
                transition: transform 25ms ease-out;

                &.weavy-snap {
                    transition: transform 150ms cubic-bezier(0.3, 1.5, 0.5, 0.96); //out-back ease-out;
                }
            }
        }
    }
    //&.weavy-custom {
    //   z-index: $widget-zindex;
    //    height: 100%;
    //
    //    .weavy-strip {
    //        z-index: $widget-zindex;
    //        height: 100%
    //    }
    //    .weavy-strip-frame {
    //        height: 100%;
    //        width: 100%;
    //        border: 0;
    //    }
    //}
    @media print {
        display: none;
    }
}

@keyframes weavy-pulse {
    50% {
        transform: scale(3);
    }
}
