@{
    var parent = (IEntity)Content;
    var action = nameof(ContentController.InsertChildOffice);
    if (parent == null)
    {
        parent = (IEntity)Space;
        action = nameof(ContentController.InsertOffice);
    }
}

@if (parent.HasPermission(Permission.Insert))
{
    <div class="modal" id="filename-dialog" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New <span id="filename-dialog-type"></span> document</h5>
                    <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="Close">
                        @Html.SvgIcon("close")
                    </button>
                </div>
                @using (Html.BeginForm(action, typeof(ContentController).ControllerName(), new { id = parent.Id }, FormMethod.Post, null)) {
                        <div class="modal-body">
                            <div class="input-group">
                                <input class="form-control" placeholder="Filename" name="name" id="name" autofocus>
                                <div class="input-group-append">
                                    <div class="input-group-text"></div>
                                </div>
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Create</button>
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("ext")
                    }
            </div>
        </div>
    </div>

    <div class="modal" id="upsert-content-modal" tabindex="-1" role="dialog" aria-labelledby="create-content-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-0 pb-0">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="Close">
                        @Html.SvgIcon("close")
                    </button>
                </div>
                @Html.SvgSpinner()
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
}

@{
    Html.RenderPartial("_AttachModal");
    Html.RenderPartial("_ShareModal");
    Html.RenderPartial("_MoveModal");
}
