@model IFollowable
@{
    var limit = 16;
    var followers = Model.FollowedByIds.Count();
}

<section class="subscribers">
    <h4 class="display-4"><span>Subscribers</span></h4>
    <p class="text-muted">@Html.SubscribersText(Model) @Html.SubscribeToggle(Model, new { @class = "btn btn-link btn-text" }).</p>
    @if (followers > 0) {
        <div class="facepile">
            @foreach (var user in Model.FollowedBy().Take(limit)) {
                @user.AvatarLink(size: 32, presence: true)
            }
            @if (Model.FollowedByIds.Count() > limit) {
                <a class="btn btn-sm btn-round btn-light" href="#" data-toggle="modal" data-target="#feedback-modal" data-path="content/@Model.Id/followers" data-modal-title="Subscribers" title="Show all subscribers">
                    @Html.SvgIcon("dots-horizontal", htmlAttributes: new { @class = "text-gray" })
                </a>
            }
        </div>
    }
</section>
