@model Weavy.Core.Models.File
@{
  Title = Model.Name ?? "Untitled";
  Back = Url.Back(Model.Url());

}
<div class="container mt-3">
  @using (Html.BeginForm(nameof(ContentController.Update), typeof(ContentController).ControllerName(), new { id = Model.Id }, FormMethod.Post, new { autocomplete = "off", data_turboform = "", novalidate = "" })) {
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.EditorsForModel()

   <p>TODO: upload control for updating/replacing blob...</p>

    <div class="form-buttons">
      <button type="submit" class="btn btn-primary" name="operation" value="update">@Model.MetaData().ModifyVerb</button>
      <button type="submit" class="btn btn-outline-secondary" name="operation" value="cancel">Cancel</button>
    </div>
  }
</div>

@if (Model.HasHtmlProperty()) {
  @section scripts{
    @Html.InitHtmlEditor()
  }
}

