@model Content
@{
  Title = "New " + Model.MetaData().Name;
  Back = Url.Back(WeavyContext.Content.Url() ?? WeavyContext.App.Url());
}

<div class="container my-3">
    @{ Html.RenderPartial("_New", Model, new ViewDataDictionary { { "turboform", true } }); }
</div>

@if (Model.HasHtmlProperty()) {
  @section scripts{
    @Html.InitHtmlEditor()
  }
}
