/// <reference path="../_core.scss" />

article.item {
    overflow-wrap: break-word;
    // user supplied content
    .display-group[data-type=html] {
        blockquote {
            @extend .blockquote;
            padding: .5rem 1rem;
            border-left: .25rem solid $table-border-color;

            footer {
                @extend .blockquote-footer;
            }
        }

        img:not(.eo) {
            @include img-fluid;
        }

        pre:not([class*="language-"]) {
            white-space: pre-wrap;
        }

        table {
            @extend .table;
        }
    }
}

.item-header {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.item-comments {
    h4 {
        @include divider();
    }

    .comments {
        background: $gray-100;
        padding: .75rem .25rem .75rem .75rem;
        border-radius: $border-radius;

        .file-list, .image-grid {
            max-width: map-get($grid-breakpoints, sm);
        }
    }

    form {
        background: $gray-100;
        padding: 0 .75rem .75rem .75rem;
    }
}

.item-attachments {
    h4 {
        @include divider();
    }
}

//
.subscribers {
    h4 {
        @include divider();
    }

    [data-toggle=subscribe] .i {
        display: none !important;
    }
}


// insert/edit note
form.edit-note {
    .html-editor {
        height: calc(100vh - 17.25rem); // calc(100vh - 276px)
        @include media-breakpoint-down(sm) {
            height: calc(100vh - 19.5rem); // calc(100vh - 312px) // toolbar spans two rows
        }
    }
}
